[Desktop Entry]
Encoding=UTF-8
Name=MX Menu Editor
Name[ca]=MX Menu Editor
Name[de]=MX Menü-Editor
Name[el]=MX Menu Editor
Name[es]=MX Editor del menú
Name[fr]=MX Éditeur de menus
Name[it]=MX Menu Editor
Name[ja]=MX メニューエディタ
Name[nl]=MX Menu Editor
Name[pt]=MX MX_Editor de Menus
Name[ru]=MX Редактор меню
Name[sv]=MX Meny Editor
Comment=Easily edit system and user menus
Comment[ca]=Edita fàcilment els menús de sistema i d'usuari
Comment[de]=Einfaches Bearbeiten von System- und Benutzermenüs
Comment[el]=Επεξεργασία μενού του συστήματος και των χρηστών
Comment[es]=Edita fácilmente los menús del sistema y del usuario
Comment[fr]=Facilement modifier les menus du système et de l'utilisateur
Comment[it]=Modifica facilmente i menu del sistema e dell'utente
Comment[ja]=システムとユーザーメニューを容易に編集できます
Comment[nl]=Eenvoudig systeem- en gebruikersmenu's aanpassen
Comment[pt]=Edição fácil de menus de sistema e de utilizador
Comment[ru]=Легкое редактирование системного и пользовательского меню
Comment[sv]=Redigera enkelt system och användarmenyer
Exec=mx-menu-editor
Terminal=false
Type=Application
Icon=mx-menu-editor
Categories=GNOME;GTK;System;MX-Maintenance;
NoDisplay=false
Name[pt]=MX MX_Editor de Menus
Comment[pt]=Edição fácil de menus de sistema e de utilizador
