[Desktop Entry]
Encoding=UTF-8
Name=MX Menu Editor
Comment=Easily edit system and user menus
Exec=mx-menu-editor
Terminal=false
Type=Application
Icon=edit-copy
Categories=GNOME;GTK;System;
NoDisplay=false
