Source: mx-menu-editor
Section: admin
Priority: optional
Maintainer: Adrian <adrian@mxlinux.org>
Build-Depends: debhelper-compat (=12), cmake (>= 3.16), ninja-build, qt6-base-dev, qt6-base-dev-tools, qt6-tools-dev, qt6-tools-dev-tools
Standards-Version: 3.9.8
Vcs-Git: git://github.com/AdrianTM/mx-menu-editor

Package: mx-menu-editor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: MX Menu Editor
 MX Menu Editor is a tool for editing Xfce menu
