Source: mx-menu-editor
Section: admin
Priority: optional
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Build-Depends: qt5-qmake,
	debhelper (>=7.0.50~)
Standards-Version: 3.9.5
Vcs-Git: git://github.com/AdrianTM/mx-menu-editor

Package: mx-menu-editor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: MX Menu Editor
 MX Menu Editor is a tool for editing Xfce menu
